<% include ../partials/head %>
    <title><%= data.review.seriesName %></title>
</head>

<body id="series-detail">
     <main>
        <% if (data) { %>
            <a class="backlink" href="javascript:history.back()">✕</a>
			<section class="video">=
                <iframe src="<%= data.review.trailerURL %>?controls=0&showinfo=0&hd=1?rel=0" allowfullscreen="" width="640" height="352" frameborder="0"></iframe>
            </section>
            <section class="meta">
				<h1><%= data.review.seriesName %></h1>
				<hr>
				<ul>
					<li>
						<span>Seizoenen:</span>
						<span><%= data.review.seasons %></span>
					</li>
					<li>
						<span>IMDB cijfer:</span>
						<span><%= data.review.imdbRating %></span>
					</li>
					<li>
						<span>Gem. min per aflevering:</span>
						<span><%= data.review.duration %></span>
					</li>
				</ul>
            </section>
			<section>
				<h1>Wat vinden anderen van deze serie?</h1>
				<hr>
				<p><%- data.review.reviewPlot %></p>
			</section>
        <% } else { %>
            <h2>Uh oh.. serie niet gevonden.</h2>
        <% }%>
     </main>
</body>
