<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/stylesheets/seriesoverview.css">
        <title>Het Serie Spel</title>
    </head>
    <body id="serie-overview">
        <h1>Jouw persoonlijke top 5</h1>
        <% for (var i = 0; i < results.length; i++) { %>
            <a href="details/<%- results[i].name%>">
                <label>
                    <div>
                        <img src="<%- results[i].data.review.imgURL%>" alt="<%- results[i].name%>">
                    </div>
                    <h2><%- results[i].name%><br/>
                        <%- results[i].matchAll + '%'%></h2>
                </label>
            </a>
        <% } %>
    </body>
</html>
