<!DOCTYPE html>
<html lang="en">
        <%- include ../partials/head.ejs %>
        <link rel="stylesheet" href="/stylesheets/seriesteps.css">
        <title>Het Serie Spel</title>
    </head>
    <body id="serie-steps">
            <%- include ../partials/header.ejs %>
            <header class="steps-nav">
                <a href="/"><img src="/img/left-arrow.png" /></a>
                <h1>Seriespel</h1>
            </header>
        <main>
            <p>Rangschik de series:</p>
            <h2>Stap <%- stepNum %></h2>
            <ul data-steps="<%- stepNum %>">
                <li><span>1</span></li>
                <li><span>2</span></li>
                <li><span>3</span></li>
                <li><span>4</span></li>
            </ul>
            <form action="/seriespel/step/<%- stepNum %>" method="post">
                <label for="first">
                    <input type="checkbox" name="" id="first" value="<%- stepData[0].data.review.seriesName%>">
                    <img src="<%- stepData[0].data.review.imgURL%>" alt="<%- stepData[0].data.review.seriesName%>">
                    <a href="/seriespel/details/<%- stepData[0].data.review.seriesName%>"><h2><%- stepData[0].data.review.seriesName%></h2></a>
                </label>
                <label for="second">
                    <input type="checkbox" name="" id="second" value="<%- stepData[1].data.review.seriesName%>">
                    <img src="<%- stepData[1].data.review.imgURL%>" alt="<%- stepData[1].data.review.seriesName%>">
                    <a href="/seriespel/details/<%- stepData[1].data.review.seriesName%>"><h2><%- stepData[1].data.review.seriesName%></h2></a>
                </label>
                <label for="third">
                    <input type="checkbox" name="" id="third" value="<%- stepData[2].data.review.seriesName%>">
                    <img src="<%- stepData[2].data.review.imgURL%>" alt="<%- stepData[2].data.review.seriesName%>">
                    <a href="/seriespel/details/<%- stepData[2].data.review.seriesName%>"><h2><%- stepData[2].data.review.seriesName%></h2></a>
                </label>
                <label for="fourth">
                    <input type="checkbox" name="" id="fourth" value="<%- stepData[3].data.review.seriesName%>">
                    <img src="<%- stepData[3].data.review.imgURL%>" alt="<%- stepData[3].data.review.seriesName%>">
                    <a href="/seriespel/details/<%- stepData[3].data.review.seriesName%>"><h2><%- stepData[3].data.review.seriesName%></h2></a>
                </label>
                <footer>
                    <input type="submit" id="next-btn" value="Volgende">
                </footer>
            </form>
        </main>
        <script src="/js/seriesgame.js"></script>
    </body>
</html>
