<!DOCTYPE html>
<html lang="en">

<%- include partials/head.ejs %>
<title>Details</title>
</head>

<body>
  <%- include partials/header.ejs %>
   <div class="movie-details">
       <div>
           <img src="<%=data.review.imgURL%>" alt="">
       </div>

       <h2><%=data.review.seriesName%></h2>
       <article>
            <h3><%= data.review.titleName %></h3>
            <!-- <p><%= data.review.seriesName %></p> -->
            <p><%= data.review.imdbRating%></p>
            <p><%= data.review.plot%></p>
       </article>

   </div>
   <section>
      <ul></ul>
     <form action="/details" enctype="multipart/form-data" method="post">

  <label for="">
  <span>Reactie plaatsen</span>

      <input type="text" placeholder="Reageer">
  </label>

     </form>
   </section>
</body>

</html>
