<!DOCTYPE html>
<html lang="nl">

<%- include partials/head.ejs %>
<title>Details</title>
</head>

<body>
  <%- include partials/header.ejs %>
   <article class="movie-details">
       <div>
           <img src="<%=data.review.imgURL%>" alt="">
       </div>

       <h2><%=data.review.seriesName%></h2>
       <h3><%= data.original_name %></h3>
       <p><%= data.overview %></p>

             <header>
                  <h3><%= data.review.titleName %></h3>
                  <p><%= data.review.reviewIntro %></p>
             </header>

             <section>
               <ul>
                 <li>Seizoenen: <%=data.review.seasons %></li>
                 <li>Gemiddelde tijd per aflervering: <%=data.review.duration %></li>
                 <li>IMDB cijfer: <%=data.review.imdbRating %></li>
               </ul>
             </section>

            <section>
                  <p><%= data.review.reviewTitle%></p>
                  <p><%= data.review.plot%></p>
            </section>

       </article>

   </article>
   <section>
    <ul class="comment-list">
      <% for(var i=0; i<data.comments.length; i++) {%>
            <li>
              <h4><%= data.comments[i].username%></h4>
              <p><%= data.comments[i].text%></p>
              <time><%= data.comments[i].time%></time>
            </li>
        <% } %>
    </ul>
     <form action="/details" enctype="multipart/form-data" method="post">

        <label for="">
            <span>Reactie plaatsen</span>
            <input type="text" placeholder="Reageer">
        </label>

        <input type="submit" value="Reactie Plaatsen">

     </form>
   </section>

   <script src="/socket.io/socket.io.js"></script>
   <script src="/javascripts/comment.js"></script>
</body>

</html>
