<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
  <title>
    <%= title %>
  </title>
  </head>

  <body class="personacheck-results">
    <%- include partials/header.ejs %>

      <h1>Suggesties voor: <span>
         Soraya Ibrahim<%=name%>
      </span></h1>
      <main class="overview-container">
        <% for(var i=0; i<data.length; i++) {%>
          <div class="movie">
            <div>
              <img src="<%=data[i].review.imgURL%>" alt="">
            </div>
            <a href="/review/<%= data[i].review.seriesName %>">
              <h3><%= data[i].review.seriesName %></h3>
            </a>
          </div>
          <% } %>
      </main>
      <script src="/javascripts/filter.js"></script>
  </body>

</html>
