<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include partials/header.ejs %>

    <p>Logged in as: <%=name%></p>
<!--     <%- include partials/filter.ejs %> -->
    <main class="overview-container">

        <% for(var i=0; i<data.length; i++) {%>
            <div class="movie">
                <div>
                    <img src="<%=data[i].review.imgURL%>" alt="">
                </div>
                <div>
                <p><%=data[i].review.reviewRating%></p>
                <a href="/detail/<%= data[i].review.seriesName %>">
                  <h3><%= data[i].review.seriesName %></h3>
                </a>
                <div>
            </div>
        <% } %>
    </main>

  <script src="/javascripts/filter.js"></script>
  </body>
</html>
