<!DOCTYPE html>
<html lang="nl">
    <%- include partials/head.ejs %>
    <title>Detail</title>
</head>
<body class="review-page">
    <%- include partials/header.ejs %>
<main>

    <article class="movie-details">
    <!-- <a href="javascript:history.back()">Terug</a> -->

        <section>
            <div>
                <h1><%=data.review.seriesName%></h1>
                <hr>
                <ul class="meta">
                    <li>
                        <span>Seizoenen:</span>
                        <span class="meta-data"><%=data.review.seasons %></span>
                    </li>
                    <li>
                        <span>IMDB cijfer:</span>
                        <span class="meta-data"><%=data.review.imdbRating %></span>
                    </li>
                    <li>
                        <span>Gem. min per aflevering:</span>
                        <span class="meta-data"><%=data.review.duration.replace(' minuten', '') %></span>
                    </li>
                </ul>
                <hr>
                <p>
                 <%= data.review.reviewPlot%>
                </p>
            </div>
            <div class="youtubevideowrap">
                <aside class="video-container">
                    <iframe src="<%=data.review.trailerURL%>?controls=0&showinfo=0&hd=1?rel=0" allowfullscreen="" width="640" height="352" frameborder="0"></iframe>
                </aside>
            </div>
        </section>
        <section class="review">
        <div>

            <h2><%= data.review.reviewTitle%></h2>
            <p class="text"><%= data.review.reviewIntro %></p>
        </div>
            <div class="img-container">
                <img alt="<%= data.review.reviewTitle%> cover" src="<%=data.review.imgURL%>">
                </img>
            </div>
        </section>

        <section class="comments">
            <h2>Wat vind u van deze serie?</h2>
            <% if(user == undefined){ %>
                <p class="remark">
                    <a href="/auth/facebook">Log in</a> om te kunnen reageren!
                </p>
            <% } else {%>
            <form class="comments-form" action="/details" method="post">
                <fieldset>
                    <legend>Reactie plaatsen</legend>
                    <label >
                        <select id="vote" required>
                            <option value="0">Geef een cijfer</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </label>
                    <label>
                        <textarea placeholder="Describe yourself" type="text"> </textarea>
                    </label>
                </fieldset>
                <input type="submit" value="Reactie plaatsen">
            </form>
            <% } %>

            <ul class="comment-list">
                <% if(data.comments.length > 0){%>
                <% for(var i =0; i < data.comments.length;  i++){%>

                    <li>

                        <p class="rating">Cijfer: <span><%=data.comments[i].rating%></span></p>
                        <p class="text"><%=data.comments[i].text%></p>

                        <h4><%= data.comments[i].username%> </h4>
                        <time><%= data.comments[i].time%></time>

                    </li>
                <% } %>
                <% } else {%>
                    <p>
                        Niemand heeft nog zijn mening laten horen. Wees de eerste!
                    </p>
                    <% } %>
            </ul>
        </section>
    </article>
</main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/comment.js"></script>
    <script src="/javascripts/navigation.js"></script>
</body>

</html>
