<!DOCTYPE html>
<html lang="nl">
    <%- include partials/head.ejs %>
    <title>Detail</title>
</html>
<body class="review-page">
    <%- include partials/header.ejs %>
    <a href="javascript:history.back()">Terug</a>
    <article>
        <div class="movie-details">
            <div class="img-container">
                <img alt="<%= data.review.reviewTitle%> cover" src="<%=data.review.imgURL%>">
                </img>
            </div>
            <div class="video-container">
                <iframe class="video" frameborder="0" src="<%=data.review.trailerURL%>?controls=0&showinfo=0" type="text/html">
                </iframe>
            </div>
            <section>
                <h1><%=data.review.seriesName%></h1>

                <p>
                    <span>Seizoenen:</span>
                    <%=data.review.seasons %>
                </p>
                <p>
                    <span>Gemiddelde tijd per aflervering:</span>
                    <%=data.review.duration %>
                </p>
                <p>
                    <span>IMDB cijfer:</span>
                    <%=data.review.imdbRating %>
                </p>
                <p class="text"><%= data.review.reviewPlot%></p>
            </section>
        </div>
        <section class="review">
            <h2><%= data.review.reviewTitle%></h2>
            <p class="text"><%= data.review.reviewIntro %></p>
        </section>
    </article>
    <section class="comments">

        <form class="comments-form" action="/details" enctype="multipart/form-data" method="post">
            <fieldset>
                <legend>Reactie plaatsen</legend>
                <label >
                    <select name="" id="vote">
                        <option value="0">Geef een cijfer</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </label>
                <label>
                    <textarea placeholder="Describe yourself" type="text"> </textarea>
                </label>
            </fieldset>
            <input type="submit" value="Reactie Plaatsen">
        </form>

        <h2>Wat vind u van deze serie?</h2>

        <ul class="comment-list">
            <% for(var i=0; i <data.comments.length; i++){%>
                <hr>
                <li>
                    <!--// <h4><%= data.comments[i].username%> </h4>-->
                    <p> <span><%=data.comments[i].rating%></span>Cijfer</p>
                    <div>
                        <div>
                            <h4>Soraya Ibrahim </h4>
                            <time><%= data.comments[i].time%></time>
                        </div>
                        <p><%= data.comments[i].text%></p>

                    </div>

                </li>
                <% } %>
            </data.comments.length;>
        </ul>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/comment.js"></script>
</body>

