
<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/reviewoverview.css">
  <title>Alle recensies</title>
</head>

<body class="review-overview-body">
    <main>
        <div id="notification" class="hidden">
            <h3>Er is een recensie geupdate!</h3>
        </div>
        <h1>Alle Recensies</h1>
        <a href="/upload" class="upload-btn">Recensie Uploaden &#x25B2;</a>
        <section class="reviews-container">
            <% data.forEach(function(item) { %>
                <div class="review-block">
                    <div class="img-container">
                        <img class="review-img" src="<%= item.review.imgURL %>" alt="<%= item.review.seriesName %>">
                    </div>
                    <div class="text-container">
                        <h2><%= item.review.seriesName %></h2>
                        <p><em>Laatste update op:</em> <%= item.user.postDate %></p>
                        <h4><%= item.review.reviewTitle %></h4>
                        <p><%= item.review.reviewIntro %></p>
                    </div>

                    <a class="edit-btn" href="/review_edit/<%= item._id %>">Bewerken</a>
                </div>
            <% }) %>
        </section>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/cms.js"></script>
</body>
</html>
